<div class="container main">
  <h1 class="text-center"><a href="/" class="main-text">Social Media Lists</a></h1>

  <%= render 'search', lists: @lists %>

  <table class="table">
    <thead>
      <tr>
        <th>S. no</th>
        <th>Content of Post ( or Tweet )</th>
        <th>Social Network</th>
        <th>Link</th>
        <th>Posted At</th>
      </tr>
    </thead>
    <tbody>
      <%= render @posts %>
    </tbody>
  </table>
  <div class="float-right">
    <%= paginate @posts %>
  </div>
</div>
