// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main {
  margin-top: 30px;
  .date-range {
    margin-top: -5px;
  }
  
  .search-form {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .main-text:hover {
    text-decoration: none !important;
    color: #007bff;
  }

}
